.body {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', 'Arial';
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.about {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 400px;
  background: rgba(0,0,0, 0.2);
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial';
  padding: 20px;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}

a {
  font: inherit;
  color: white;
  font-size: 15px;
}

.mapboxgl-popup-content {
  padding: 0;
  width: 200px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #87CDEC;
  color: #000;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #87CDEC;
}
